<div class="back">
    <ul class="d-flex align-items-center justify-content-around ponto">
        <li>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxeLG_XAAAA8Jaw8pr6jwe332_L98YJMkneQ&usqp=CAU" alt="foto perfil" class="img-fluid" width="100">
        </li>
        <li>
            <h2 class="text-center font-weight-bold font texto1">IRON MAIDEN</h2>
        </li>
        <li>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxeLG_XAAAA8Jaw8pr6jwe332_L98YJMkneQ&usqp=CAU" alt="foto perfil" class="img-fluid" width="100">
        </li>
    </ul>
    
   
</div>
