#imgbg{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsTgkodBTezzKHs7vCyzZZcfPB2F-c7pn9Iw&usqp=CAU);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   
}